<div id="header">
	<a class="button" href="{% if app.user %}{{ path('FutureStoreSiteBundle_profile_index') }}{% else %}{{ path('FutureStoreSiteBundle_index') }}{% endif %}">Home</a> |
	{% if app.user %}<a class="button" href="{{ path('FutureStoreSiteBundle_profile_logout') }}">Uitloggen</a> |
		<a class="button" href="{{ path('FutureStoreSiteBundle_profile_shopping_show') }}">Boodschappenlijsten</a> |
		<a class="button" href="{{ path('FutureStoreSiteBundle_profile_shopping_create') }}">Maak boodschappenlijst aan</a>
	{% else %}<a class="button" href="{{ path('FutureStoreSiteBundle_profile_login') }}">Login</a>
	{% endif %}
</div>